/* Estilos Globais */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    padding-top: 20px;
}

/* Estilos para o formulário */
form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Estilos de Imagem e Produto */
img {
    border-radius: 8px;
    max-width: 100%;
    height: auto;
}

/* Estilos para o Rodapé */
footer {
    border-bottom: 0px;
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #eaeaea;
    background-color: #f8f9fa;
}
